html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.mainNav .logo, .headerTextWrapper .headerText h1 {
  font-family: 'Poiret One', cursive; }

.gallery .galleryItem h2, .mainNav li, .headerTextWrapper .headerText h3, .primaryButton {
  font-family: 'Fjalla One', sans-serif; }

.secondaryNav {
  font-family: 'Open Sans', sans-serif; }

.mainNav .logo, .mainNav li, .headerTextWrapper .headerText h1, .headerTextWrapper .headerText h3, .primaryButton {
  text-transform: uppercase; }

.gallery #couple h2, .gallery #safari h2, .gallery #elephants h2, .gallery #ostrich h2, .gallery #giraffe h2, .gallery #tour h2 {
  text-shadow: 1px 1px 1px black; }

#couple .icon, #safari .icon, #elephants .icon, #ostrich .icon, #giraffe .icon, #tour .icon {
  transition: all 0.2s linear; }

#couple .icon:hover, #safari .icon:hover, #elephants .icon:hover, #ostrich .icon:hover, #giraffe .icon:hover, #tour .icon:hover {
  -webkit-transform: scale3d(1.3, 1.3, 1);
  transform: scale3d(1.3, 1.3, 1); }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px; }

body {
  background-color: #494C3F; }

a {
  color: #c6b7b3; }
  a:hover {
    color: #fff; }

/**
 * Basic styles for links
 */
a {
  text-decoration: none; }

/**
 * Basic typography style for copy text
 */
.pageWrapper {
  height: auto;
  width: 100%; }

.gallery {
  display: flex;
  flex-wrap: wrap; }
  .gallery .galleryItem {
    height: 350px;
    overflow: hidden; }
    .gallery .galleryItem img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
    .gallery .galleryItem h2 {
      color: #fff; }
  .gallery #couple {
    width: 50%; }
    .gallery #couple h2 {
      position: relative;
      bottom: 25%;
      left: 10%; }
  .gallery #safari {
    width: 25%; }
    .gallery #safari h2 {
      position: relative;
      bottom: 25%;
      left: 10%; }
  .gallery #elephants {
    width: 25%; }
    .gallery #elephants h2 {
      position: relative;
      bottom: 25%;
      left: 10%; }
  .gallery #ostrich {
    width: 25%; }
    .gallery #ostrich h2 {
      position: relative;
      bottom: 25%;
      left: 10%; }
  .gallery #giraffe {
    width: 25%; }
    .gallery #giraffe h2 {
      position: relative;
      bottom: 25%;
      left: 10%; }
  .gallery #tour {
    width: 50%; }
    .gallery #tour h2 {
      position: relative;
      bottom: 25%;
      left: 10%; }

.mainNav {
  display: flex;
  justify-content: space-between; }
  .mainNav .logo {
    color: #fff;
    letter-spacing: 2px;
    font-size: 2em;
    margin-top: 0;
    margin-left: 2.5em;
    padding-top: 1.5em; }
  .mainNav ul {
    list-style-type: none;
    margin: 0 1.5em;
    padding-top: 3.6em;
    display: flex; }
  .mainNav li {
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    margin-right: 3em; }

.secondaryNav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #c6b7b3;
  weight: lighter;
  letter-spacing: 1.5px;
  width: 80%;
  margin: 1.5em auto; }
  .secondaryNav ul {
    display: flex;
    list-style-type: none; }
  .secondaryNav li {
    margin: auto 2em; }
  .secondaryNav .search {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100px;
    margin-right: 3em; }
    .secondaryNav .search:hover {
      color: #fff; }

.header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("../img/lion-hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("../img/lion-hero.jpg");
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  background-size: cover; }

.headerTextWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40%;
  width: 100%;
  text-align: center; }
  .headerTextWrapper .headerText {
    height: auto;
    width: 70%; }
    .headerTextWrapper .headerText h1 {
      font-size: 110px;
      color: #fff;
      letter-spacing: 8px;
      line-height: 7px; }
    .headerTextWrapper .headerText h3 {
      font-size: 20px;
      color: #fff;
      letter-spacing: 5px; }
    .headerTextWrapper .headerText img {
      width: 50px; }

.headerButton {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 38%;
  width: 100%;
  text-align: center; }

.primaryButton {
  color: #000;
  letter-spacing: 2px;
  height: 60px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 20px;
  border: 2px solid mistyrose;
  background: mistyrose; }

#triangle-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 12px solid mistyrose;
  position: relative;
  top: 35px;
  right: 70px; }

.thickLine {
  height: 7px;
  width: 250px;
  background: #fff;
  margin: 0 auto; }

.galleryLine {
  height: 5px;
  width: 70px;
  background: mistyrose;
  position: relative;
  bottom: 24%;
  left: 10%; }

#couple .icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 80%;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1em; }

#safari .icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 80%;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1em; }

#elephants .icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 80%;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1em; }

#ostrich .icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 80%;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1em; }

#giraffe .icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 80%;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1em; }

#tour .icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 80%;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1em; }

/*# sourceMappingURL=main.css.map */
