html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.mainNav .logo, .headerTextWrapper .headerText h1 {
  font-family: 'Poiret One', cursive; }

.gallery .galleryItem h2, .mainNav li, .headerTextWrapper .headerText h3, .primaryButton {
  font-family: 'Fjalla One', sans-serif; }

.secondaryNav {
  font-family: 'Open Sans', sans-serif; }

.mainNav .logo, .mainNav li, .headerTextWrapper .headerText h1, .headerTextWrapper .headerText h3, .primaryButton {
  text-transform: uppercase; }

h2 {
  text-shadow: 1px 1px 1px black; }

#couple .icon, #safari .icon, #elephants .icon, #ostrich .icon, #giraffe .icon, #tour .icon {
  transition: all 0.2s linear; }

#couple .icon:hover, #safari .icon:hover, #elephants .icon:hover, #ostrich .icon:hover, #giraffe .icon:hover, #tour .icon:hover {
  -webkit-transform: scale3d(1.3, 1.3, 1);
  transform: scale3d(1.3, 1.3, 1); }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px; }

body {
  background-color: #494C3F; }

a {
  color: #c6b7b3;
  text-decoration: none; }
  a:hover {
    color: #fff; }

.pageWrapper {
  height: auto;
  width: 100%; }

.gallery {
  display: flex;
  flex-wrap: wrap; }
  .gallery .galleryItem {
    height: 350px;
    width: auto;
    overflow: hidden; }
    .gallery .galleryItem img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: block; }
    .gallery .galleryItem h2 {
      color: #fff; }
  .gallery #couple {
    width: 50%; }
    .gallery #couple h2 {
      position: relative;
      bottom: 25%;
      left: 10%; }
    .gallery #couple:hover {
      cursor: pointer; }
  .gallery #tour {
    width: 50%; }
    .gallery #tour h2 {
      position: relative;
      bottom: 25%;
      left: 10%; }
    .gallery #tour:hover {
      cursor: pointer; }
  .gallery #safari {
    width: 25%; }
    .gallery #safari h2 {
      position: relative;
      bottom: 25%;
      left: 10%; }
    .gallery #safari:hover {
      cursor: pointer; }
  .gallery #elephants {
    width: 25%; }
    .gallery #elephants h2 {
      position: relative;
      bottom: 25%;
      left: 10%; }
    .gallery #elephants:hover {
      cursor: pointer; }
  .gallery #ostrich {
    width: 25%; }
    .gallery #ostrich h2 {
      position: relative;
      bottom: 25%;
      left: 10%; }
    .gallery #ostrich:hover {
      cursor: pointer; }
  .gallery #giraffe {
    width: 25%; }
    .gallery #giraffe h2 {
      position: relative;
      bottom: 25%;
      left: 10%; }
    .gallery #giraffe:hover {
      cursor: pointer; }
  @media screen and (max-width: 924px) {
    .gallery #couple {
      width: 100%; }
      .gallery #couple h2 {
        position: relative;
        bottom: 25%;
        left: 10%; }
      .gallery #couple:hover {
        cursor: pointer; }
    .gallery #tour {
      width: 100%; }
      .gallery #tour h2 {
        position: relative;
        bottom: 25%;
        left: 10%; }
      .gallery #tour:hover {
        cursor: pointer; }
    .gallery #safari {
      width: 50%; }
      .gallery #safari h2 {
        position: relative;
        bottom: 25%;
        left: 10%; }
      .gallery #safari:hover {
        cursor: pointer; }
    .gallery #elephants {
      width: 50%; }
      .gallery #elephants h2 {
        position: relative;
        bottom: 25%;
        left: 10%; }
      .gallery #elephants:hover {
        cursor: pointer; }
    .gallery #ostrich {
      width: 50%; }
      .gallery #ostrich h2 {
        position: relative;
        bottom: 25%;
        left: 10%; }
      .gallery #ostrich:hover {
        cursor: pointer; }
    .gallery #giraffe {
      width: 50%; }
      .gallery #giraffe h2 {
        position: relative;
        bottom: 25%;
        left: 10%; }
      .gallery #giraffe:hover {
        cursor: pointer; } }
  @media screen and (max-width: 730px) {
    .gallery #couple {
      width: 100%; }
      .gallery #couple h2 {
        position: relative;
        bottom: 25%;
        left: 10%; }
      .gallery #couple:hover {
        cursor: pointer; }
    .gallery #tour {
      width: 100%; }
      .gallery #tour h2 {
        position: relative;
        bottom: 25%;
        left: 10%; }
      .gallery #tour:hover {
        cursor: pointer; }
    .gallery #safari {
      width: 100%; }
      .gallery #safari h2 {
        position: relative;
        bottom: 25%;
        left: 10%; }
      .gallery #safari:hover {
        cursor: pointer; }
    .gallery #elephants {
      width: 100%; }
      .gallery #elephants h2 {
        position: relative;
        bottom: 25%;
        left: 10%; }
      .gallery #elephants:hover {
        cursor: pointer; }
    .gallery #ostrich {
      width: 100%; }
      .gallery #ostrich h2 {
        position: relative;
        bottom: 25%;
        left: 10%; }
      .gallery #ostrich:hover {
        cursor: pointer; }
    .gallery #giraffe {
      width: 100%; }
      .gallery #giraffe h2 {
        position: relative;
        bottom: 25%;
        left: 10%; }
      .gallery #giraffe:hover {
        cursor: pointer; } }

.mainNav {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1046px) {
    .mainNav {
      display: flex;
      flex-direction: column; } }
  .mainNav .logo {
    font-size: 2em;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 0;
    margin-left: 2.5em;
    padding-top: 1.5em; }
    @media screen and (max-width: 1046px) {
      .mainNav .logo {
        margin: 0 auto; } }
  .mainNav ul {
    list-style-type: none;
    margin: 0 1.5em;
    padding-top: 3.6em;
    display: flex; }
    @media screen and (max-width: 1140px) {
      .mainNav ul {
        margin: 0 1em; } }
    @media screen and (max-width: 1046px) {
      .mainNav ul {
        padding: 3%;
        display: flex;
        justify-content: center; } }
  .mainNav li {
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    margin-right: 3em;
    height: 30px; }
    @media screen and (max-width: 1140px) {
      .mainNav li {
        font-size: 14px; } }
  @media screen and (max-width: 730px) {
    .mainNav {
      display: none; } }

.secondaryNav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #c6b7b3;
  weight: lighter;
  letter-spacing: 1.5px;
  height: auto;
  width: 80%;
  margin: 1.5em auto; }
  .secondaryNav ul {
    display: flex;
    list-style-type: none; }
  .secondaryNav li {
    margin: auto 2em; }
  .secondaryNav .search {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100px;
    margin-right: 3em; }
    .secondaryNav .search img {
      height: 40px;
      width: 20px;
      margin-top: 6%; }
    .secondaryNav .search:hover {
      color: #fff; }
  @media screen and (max-width: 1046px) {
    .secondaryNav {
      display: none; } }

.mobileNav {
  display: none;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 730px) {
    .mobileNav {
      display: block; }
      .mobileNav .mobileMenu {
        position: absolute;
        top: 0px;
        height: 100vh;
        width: 100%;
        background-color: #494C3F;
        z-index: 10;
        font-size: 24px;
        color: #fff;
        letter-spacing: 2.5px;
        line-height: 80px; }
        .mobileNav .mobileMenu ul {
          font-family: 'Fjalla One', sans-serif;
          list-style-type: none;
          padding: 30% 0;
          text-align: center; }
        .mobileNav .mobileMenu h1 {
          font-family: 'Open Sans', sans-serif;
          font-size: 42px;
          position: absolute;
          top: -10px;
          right: 30px;
          cursor: pointer; } }

.header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("../img/lion-hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("../img/lion-hero.jpg");
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  background-size: cover;
  transition: height .5s linear; }
  @media screen and (max-width: 1046px) {
    .header {
      height: 50vh;
      width: auto; } }

.headerTextWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40%;
  width: 100%;
  text-align: center; }
  .headerTextWrapper .headerText {
    height: auto;
    width: 70%; }
    .headerTextWrapper .headerText h1 {
      font-size: 110px;
      color: #fff;
      letter-spacing: 8px;
      line-height: 7px; }
      @media screen and (max-width: 1046px) {
        .headerTextWrapper .headerText h1 {
          font-size: 80px; } }
      @media screen and (max-width: 730px) {
        .headerTextWrapper .headerText h1 {
          font-size: 48px; } }
    .headerTextWrapper .headerText h3 {
      font-size: 20px;
      color: #fff;
      letter-spacing: 5px; }
    .headerTextWrapper .headerText img {
      width: 50px; }
      @media screen and (max-width: 730px) {
        .headerTextWrapper .headerText img {
          margin-top: 20%; } }
    @media screen and (max-width: 1046px) {
      .headerTextWrapper .headerText {
        height: 70%;
        width: auto; } }

.headerButton {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 38%;
  width: 100%;
  text-align: center; }
  @media screen and (max-width: 1046px) {
    .headerButton {
      display: flex;
      justify-content: center;
      margin-top: 5%; } }
  @media screen and (max-width: 730px) {
    .headerButton {
      margin-top: 20%; } }

.primaryButton {
  color: #000;
  letter-spacing: 2px;
  height: 60px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 20px;
  border: 2px solid mistyrose;
  background: mistyrose;
  transition: all .15s linear; }
  .primaryButton:hover {
    color: #000;
    transform: scale(1.025); }

#triangle-down {
  position: relative;
  top: 35px;
  right: 70px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 12px solid mistyrose; }

#couple .icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 80%;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1em; }
  #couple .icon:hover {
    cursor: pointer; }

#safari .icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 80%;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1em; }
  #safari .icon:hover {
    cursor: pointer; }

#elephants .icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 80%;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1em; }
  #elephants .icon:hover {
    cursor: pointer; }

#ostrich .icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 80%;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1em; }
  #ostrich .icon:hover {
    cursor: pointer; }

#giraffe .icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 80%;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1em; }
  #giraffe .icon:hover {
    cursor: pointer; }

#tour .icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 80%;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1em; }
  #tour .icon:hover {
    cursor: pointer; }

.thickLine {
  height: 7px;
  width: 250px;
  background: #fff;
  margin: 0 auto; }

.galleryLine {
  height: 5px;
  width: 70px;
  position: relative;
  bottom: 24%;
  left: 10%;
  background: mistyrose; }

.navLine {
  height: 7px;
  width: 75px;
  background: #fff;
  margin-top: 10px; }

.navIcon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 35px;
  right: 20px;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  padding: .4em;
  cursor: pointer; }
  .navIcon .iconbar {
    height: 3px;
    width: 30px;
    background-color: white; }

/*# sourceMappingURL=main.css.map */
