// -----------------------------------------------------------------------------
// Mixins
// -----------------------------------------------------------------------------

@mixin fontFormat ($size: null, $color: null, $weight: null, $l-spacing: null, $l-height: null) {
  font-size: $size;
  color: $color;
  weight: $weight;
  letter-spacing: $l-spacing;
  line-height: $l-height;
}

@mixin flexbox ($display: flex, $justify: null, $align-items: null, $direction: null, $align-self: null) {
  display: $display;
  justify-content: $justify;
  align-items: $align-items;
  flex-direction: $direction;
  align-self: $align-self;
}

@mixin galleryContent ($width, $names...) {
  @each $name in $names {
    ##{$name} {
      width: $width;
      h2 {
        @include position(relative, null null 25% 10%);
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@mixin galleryIcon ($names...) {
  @each $name in $names {
    ##{$name} .icon {
      @include size(72px 72px);
      @extend %iconParentTrans;
      position: relative;
      bottom: 80%;
      left: 45%;
      background-color: rgba($black, 0.5);
      border-radius: 50%;
      padding: 1em;
      &:hover {
        @extend %iconScale;
        cursor: pointer;
      }
    }
  }
}





















// @mixin on-event($self: false) {
//   @if $self {
//     &,
//     &:hover,
//     &:active,
//     &:focus {
//       @content;
//     }
//   } @else {
//     &:hover,
//     &:active,
//     &:focus {
//       @content;
//     }
//   }
// }
