// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// Colors
$black: #000;
$white: #fff;
$primaryButton: mistyrose;

$bodyBackground: #494C3F;
$bodyText: #c6b7b3;
$linkHover: $white;


// File Paths
$img-path: "../img";

// Media Queries

$mediumDesktop: "(max-width: 1140px)";
$smallDesktop: "(max-width: 1046px)";
$tablet: "(max-width: 924px)";
$mobile: "(max-width: 730px)";
