.pageWrapper {
  @include size(100% auto);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  .galleryItem {
    height: 350px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    h2 {
      @extend %headerFont;
      @include fontFormat ($color: $white)
    }
  }
  @include galleryContent(50%, couple, tour);
  @include galleryContent(25%, safari, elephants, ostrich, giraffe);
  @media screen and #{$tablet} {
    @include galleryContent(100%, couple, tour);
    @include galleryContent(50%, safari, elephants, ostrich, giraffe);
  }
  @media screen and #{$mobile} {
    @include galleryContent(100%, couple, tour, safari, elephants, ostrich, giraffe);
  }
}
