.pageWrapper {
  @include size(100% auto);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  .galleryItem {
    height: 350px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    h2 {
      @extend %headerFont;
      @include fontFormat ($color: $white)
    }
  }
  #couple {
    width: 50%;
    h2 {
      @include position(relative, null null 25% 10%);
      @extend %textShadow;
    }
  }
  #safari {
    width: 25%;
    h2 {
      @include position(relative, null null 25% 10%);
      @extend %textShadow;
    }
  }
  #elephants {
    width: 25%;
    h2 {
      @include position(relative, null null 25% 10%);
      @extend %textShadow;
    }
  }
  #ostrich {
    width: 25%;
    h2 {
      @include position(relative, null null 25% 10%);
      @extend %textShadow;
    }
  }
  #giraffe {
    width: 25%;
    h2 {
      @include position(relative, null null 25% 10%);
      @extend %textShadow;
    }
  }
  #tour {
    width: 50%;
    h2 {
      @include position(relative, null null 25% 10%);
      @extend %textShadow;
    }
  }
}
