// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  @include background-image(linear-gradient(rgba($black, 0.5),
    rgba($black, 0)),url("#{$img-path}/lion-hero.jpg"));
  @include size(auto 100vh);
  @include flexbox($direction: column);
  background-size: cover;
  transition: height .5s linear;
  @media screen and #{$smallDesktop} {
    @include size(auto 50vh);
  }
}

.headerTextWrapper {
  @include flexbox(flex, center, flex-end);
  @include size(100% 40%);
  text-align: center;
  .headerText {
    @include size(70% auto);
    h1 {
      @include fontFormat(110px, $white, $l-spacing: 8px, $l-height: 7px);
      @extend %titleFont;
      @extend %uppercase;
      @media screen and #{$smallDesktop} {
        @include fontFormat(80px)
      }
      @media screen and #{$mobile} {
        @include fontFormat(48px)
      }
    }
    h3 {
      @include fontFormat(20px, $white, $l-spacing: 5px);
      @extend %headerFont;
      @extend %uppercase;
    }
    img {
      width: 50px;
      @media screen and #{$mobile} {
        margin-top: 20%;
      }
    }
    @media screen and #{$smallDesktop} {
      @include size(auto 70%);
    }
  }
}

.headerButton {
  @include flexbox($direction: column, $justify: flex-end);
  @include size(100% 38%);
  text-align: center;
  @media screen and #{$smallDesktop} {
    @include flexbox($justify: center);
    margin-top: 5%;
  }
  @media screen and #{$mobile} {
    margin-top: 20%;
  }
}
