// =================
// Main Navigation
// =================

.mainNav {
  @include flexbox($justify: space-between);
  @media screen and #{$smallDesktop} {
    @include flexbox($direction: column);
  }
  .logo {
    @extend %uppercase;
    @extend %titleFont;
    @include fontFormat(2em, $color: $white, $l-spacing: 2px);
    margin-top: 0;
    margin-left: 2.5em;
    padding-top: 1.5em;
    @media screen and #{$smallDesktop} {
      margin: 0 auto;
    }
  }
  ul {
    list-style-type: none;
    margin: 0 1.5em;
    padding-top: 3.6em;
    @include flexbox();
    @media screen and #{$mediumDesktop} {
          margin: 0 1em;
    }
    @media screen and #{$smallDesktop} {
      padding: 3%;
      @include flexbox($justify: center);
    }
  }
  li {
    @extend %headerFont;
    @extend %uppercase;
    @include fontFormat(16px, $white, $l-spacing: 2px);
    margin-right: 3em;
    height: 30px;
    @media screen and #{$mediumDesktop} {
      @include fontFormat(14px);
    }
  }
  @media screen and #{$mobile} {
    display: none;
  }
}

// =======================
// Secondary Navigation
// =======================

.secondaryNav {
  @include size(100% 50px);
  @include flexbox($justify: space-between);
  @include fontFormat(16px, $bodyText, lighter, $l-spacing: 1.5px);
  @include size(80% auto);
  @extend %bodyFont;
  margin: 1.5em auto;
  ul {
    @include flexbox();
    list-style-type: none;
  }
  li {
    margin: auto 2em;
  }
  .search {
    @include flexbox($justify: space-between);
    @include size(100px auto);
    margin-right: 3em;
    img {
      @include size(20px 40px);
      margin-top: 6%;
    }
    &:hover {
    @include fontFormat($color: $linkHover);
    }
  }
  @media screen and #{$smallDesktop} {
    display: none;
  }
}

// =======================
// Mobile Navigation
// =======================

.mobileNav {
  display: none;
  padding: 0;
  margin: 0;
  @media screen and #{$mobile} {
    display: block;
    .mobileMenu {
      @include position(absolute, 0px null null null);
      @include size(100% 100vh);
      background-color: $bodyBackground;
      z-index: 10;
      @include fontFormat(24px, $color: $white, $l-spacing: 2.5px, $l-height: 80px);
      ul {
        font-family: 'Fjalla One', sans-serif;
        list-style-type: none;
        padding: 30% 0;
        text-align: center;
      }
      h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 42px;
        @include position(absolute, -10px 30px null null);
        cursor: pointer;
      }
    }
  }
}
