// =================
// Main Navigation
// =================

.mainNav {
  display: flex;
  justify-content: space-between;
  .logo {
    @extend %uppercase;
    @extend %titleFont;
    @include fontFormat($color: $white, $l-spacing: 2px);
    font-size: 2em;
    margin-top: 0;
    margin-left: 2.5em;
    padding-top: 1.5em;
  }
  ul {
    list-style-type: none;
    margin: 0 1.5em;
    padding-top: 3.6em;
    display: flex;
  }
  li {
    @extend %headerFont;
    @extend %uppercase;
    @include fontFormat(16px, $white, $l-spacing: 2px);
    margin-right: 3em;
  }
}

// =======================
// Secondary Navigation
// =======================

.secondaryNav {
  @include size(100% 50px);
  @include flexbox($justify: space-between);
  @include fontFormat(16px, $bodyText, lighter, $l-spacing: 1.5px);
  @extend %bodyFont;
  width: 80%;
  margin: 1.5em auto;
  ul {
    @include flexbox();
    list-style-type: none;
  }
  li {
    margin: auto 2em;
  }
  .search {
    @include flexbox($justify: space-between);
    @include size(100px auto);
    margin-right: 3em;
    &:hover {
    @include fontFormat($color: $linkHover);
    }
  }
}
