// =================
// Main Navigation
// =================

.mainNav {
  display: flex;
  justify-content: space-between;
  @media screen and #{$smallDesktop} {
    flex-direction: column;
  }
  .logo {
    @extend %uppercase;
    @extend %titleFont;
    @include fontFormat($color: $white, $l-spacing: 2px);
    font-size: 2em;
    margin-top: 0;
    margin-left: 2.5em;
    padding-top: 1.5em;
    @media screen and #{$smallDesktop} {
      margin: 0 auto;
    }
  }
  ul {
    list-style-type: none;
    margin: 0 1.5em;
    padding-top: 3.6em;
    display: flex;
    @media screen and #{$mediumDesktop} {
          margin: 0 1em;
    }
    @media screen and #{$smallDesktop} {
      padding: 3%;
      justify-content: center;
    }
  }
  li {
    @extend %headerFont;
    @extend %uppercase;
    @include fontFormat(16px, $white, $l-spacing: 2px);
    margin-right: 3em;
    @media screen and #{$mediumDesktop} {
      font-size: 14px;
    }
  }
  @media screen and #{$mobile} {
    display: none;
  }
}

// =======================
// Secondary Navigation
// =======================

.secondaryNav {
  @include size(100% 50px);
  @include flexbox($justify: space-between);
  @include fontFormat(16px, $bodyText, lighter, $l-spacing: 1.5px);
  @extend %bodyFont;
  width: 80%;
  margin: 1.5em auto;
  ul {
    @include flexbox();
    list-style-type: none;
  }
  li {
    margin: auto 2em;
  }
  .search {
    @include flexbox($justify: space-between);
    @include size(100px auto);
    margin-right: 3em;
    img {
      @include size(20px 40px);
      margin-top: 6%;
    }
    &:hover {
    @include fontFormat($color: $linkHover);
    }
  }
  @media screen and #{$smallDesktop} {
    display: none;
  }
}

// =======================
// Mobile Navigation
// =======================

.mobileNav {
  display: none;
  padding: 0;
  margin: 0;
  @media screen and #{$mobile} {
    display: block;
    .mobileMenu {
      position: absolute;
      top: 0px;
      background-color: $bodyBackground;
      height: 100vh;
      width: 100%;
      z-index: 10;
      @include fontFormat(24px, $color: $white, $l-spacing: 2.5px, $l-height: 80px);
      ul {
        font-family: 'Fjalla One', sans-serif;
        list-style-type: none;
        padding: 30% 0;
        text-align: center;
      }
      h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 42px;
        position: absolute;
        top: -10px;
        right: 30px;
        cursor: pointer;
      }
    }
  }
}
