// =================
// Icons
// =================

.thickLine {
  @include size(250px 7px);
  background: $white;
  margin: 0 auto;
}

.galleryLine {
  @include size(70px 5px);
  background: $primaryButton;
  position: relative;
  bottom: 24%;
  left: 10%;
}

.navIcon {
  @include size(40px 40px);
  @include flexbox(flex, $justify: space-around, $align-items: center);
  flex-wrap: wrap;
  background-color: rgba($black, .5);
  padding: .4em;
  position: absolute;
  right: 20px;
  top: 35px;
  cursor: pointer;
  .iconbar {
    @include size(30px 3px);
    background-color: white;
  }
}

@include galleryIcon(couple, safari, elephants, ostrich, giraffe, tour);
