// =================
// Icons
// =================

@include galleryIcon(couple, safari, elephants, ostrich, giraffe, tour);

.thickLine {
  @include size(250px 7px);
  background: $white;
  margin: 0 auto;
}

.galleryLine {
  @include size(70px 5px);
  @include position(relative, null null 24% 10%);
  background: $primaryButton;
}

.navLine {
  @include size(75px 7px);
  background: $white;
  margin-top: 10px;
}

.navIcon {
  @include size(40px 40px);
  @include flexbox(flex, $justify: space-around, $align-items: center);
  @include position(absolute, 35px 20px null null);
  flex-wrap: wrap;
  background-color: rgba($black, .5);
  padding: .4em;
  cursor: pointer;
  .iconbar {
    @include size(30px 3px);
    background-color: white;
  }
}
