// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: $bodyBackground;
}

a {
  @include fontFormat($color: $bodyText);
  &:hover {
  @include fontFormat($color: $linkHover);
  }
}

h2 {
  @extend %textShadow;
}


/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}
